@media (max-width: 850px) {
  header > span {
    display: block;
    float: none;
    text-align: center;
  }

  header > div {
    float: none;
    text-align: center;
  }

  form > span {
    font-size: $font-size * 1.25;
  }

  .container {
    max-width: 80%;
  }
}
