article {
  @include make-row();
  section {
    @include make-xs-column(4);
    border: 1px solid #000;
    height: 25vh;
  }
}

h1,
h3,
form {
  text-align: center;
}

h1,
form {
  clear: both;
}

header > span {
  float: right;
}

header > div {
  float: left;
}

.container {
  max-width: 60%;
}

img {
  height: 70px;
  width: 70px;
}
